.navbar {
    background-color: rgba(38, 36, 36, 1);
    overflow: hidden;
}

.navbar a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px; 
}

.navbar a:hover {
    background-color: #ddd;
    color: rgba(38, 36, 36, 1);
}

.navbar a.active {
    background-color: whitesmoke;
    color: rgba(38, 36, 36, 1);
}

#login_button {
    float: right;
}

.searchbar {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /*border-radius: 25px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 50px;
    background-color: green;*/
}

.searchbar form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 50px;
    background-color: #f2f2f2;
    padding: 2px;
}

.searchbar input {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(38, 36, 36, 1);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border: none;
    text-align: center;
    border-radius: 25px;
}

.searchbar button{
    float: right;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(38, 36, 36, 1);
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
} 

.searchbar i {
    font-size: 18px;
}

.recommended {
    margin-top: 5%;
    font-size: 20px;
    color: rgba(38, 36, 36, 1);
    background-color: #b6b6b6;
}

#indexrecs {
    margin-top: 20%;
}

.movielist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.movie {
    height: 300px;
    width: 200px;
    /*object-fit: cover;*/
}

.newlist {
    float:right;
    background-color: rgba(38, 36, 36, 1);
    border: none;
    color: #f2f2f2;
}

.newlist:hover {
    background-color: #ddd;
    color: black;
}

.recommended button {
    border: none;
    float: right;
    background-color: #b6b6b6;
}

.recommended button:hover {
    background-color: rgba(38, 36, 36, 1);
    color: #ddd;
}

.search-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #b6b6b6;
    /* max-width: 100px;
    max-height: 100px; */
    /* z-index: 10; */
}

.searchlist div {
    padding: 10px;
}

.searchlist h3 p {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25px;
}

.search-list .search-item-thumbnail .search-item-info {
    background-color: white;
    border-top: 4px solid #e6e6fa;
    transition: background-color 200ms ease;
    padding: 0.6rem;
}

.search-list img {
    height: 150px;
    width: 100px;
}